@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Wix-Madefor-Text', sans-serif;
  font-weight: 400;
  font-size: 1em;
}

h1 {
  font-family: 'Wix-Madefor-Display', sans-serif;
  font-weight: 600;
  font-size: 4em;
}

h2 {
  font-family: 'Wix-Madefor-Display', sans-serif;
  font-weight: 500;
  font-size: 3.7em;
}

h3 {
  font-family: 'Wix-Madefor-Display', sans-serif;
  font-weight: 600;
  font-size: 3.4em;
}

h4 {
  font-family: 'Wix-Madefor-Display', sans-serif;
  font-weight: 500;
  font-size: 3em;
}

h5 {
  font-family: 'Wix-Madefor-Display', sans-serif;
  font-weight: 600;
  font-size: 2.5em;
}

h6 {
  font-family: 'Wix-Madefor-Display', sans-serif;
  font-weight: 500;
  font-size: 2em;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
